# Entorno virtual
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Configuración de IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de Django
/staticfiles/
media/

# Variables de entorno
*.env
.env.*
